# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
.env/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# IDEs
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Selenium WebDriver logs
selenium_logs/

# Other
*.bak
*.swp


x.html